<h2>Welcome <%= @user.email %>!</h2>

  <h3><%= link_to "My Cars", user_cars_path(@user) %></h3>

  <h3><%= link_to "My Appointments", user_appointments_path(@user) %></h3>


<h3><%= link_to "My Shops", shops_path %></h3> 
